@model IEnumerable<Ingredient>
@{
	ViewBag.Title = "List of Resturant Ingredients";
}
<h1>Ingredients</h1>
<hr />
<p>
	<a asp-action="Create">Create New</a>
</p>
<table class="table">
	<thead>
		<tr>
			<th>Name</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var i in Model)
		{
			<tr>
				<td>@i.Name</td>
				<td>
					<a asp-action="Details" asp-route-id="@i.IngredientId">Details</a> |
					<a asp-action="Edit" asp-route-id="@i.IngredientId">Edit</a> |
					<a asp-action="Delete" asp-route-id="@i.IngredientId">Delete</a>
				</td>
			</tr>
		}
	</tbody>
</table>